/* 
1 -> Positioning: 
2 -> Box Model: 
3 -> typography: 
4 -> Visual styles: 
5 -> Others: 
*/
:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}
header img {
    width: 151px;
    height: 24px;
    top: 78px;
    left: 84px;
    align-self: center;
    margin-top: 60px;
}
.header-title-conteiner{
    width: 90%; 
    min-width: 288px;
    max-height: 900px;/* +288px / -900px */
    height: 218px;
    margin-top: 40;
    align-self: center;
    text-align: center;
}
.header-title-conteiner h1{
    font-size: 24px;
    font-weight: 700;
    color: var(--just-white);
    text-align: center;
    line-height: 26px;
}
.header-title-conteiner p{
    margin-top: 25px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--soft-orange);
    line-height: 18px;
}
.header-button{
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Shade */
    box-shadow:0px 4px 8px 0px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);  
}
.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 5px;
    background-image: url(./icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}


main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: auto;
}
.main-title h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: var(--black);
}
.main-title p{
    margin-top: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #757575;
}
.image-bitcoin{
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
}

/* table */
.exchanges-table-conteiner{
    width: 70%;
    margin: 0 auto;
    min-width: 288px;
    max-width: 900px;
    height: auto;
}
.table-conteiner h3{
    color: var(--bitcoin-orange);
    font-weight: 700;
    font-size: 18px;
    line-height: 23.44px;
    text-align: left;
    margin: 0 auto 12px auto;
    width: 60%;
    padding-top: 40px;
}
.grid-table-conteiner{
    margin: 0 auto;
    width: 70%;
    height: auto;
    background-color: var(--just-white);
    border-radius: 8px;
    padding-top: 12pxpx;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    place-content: center;
    position: relative;
    scroll-snap-align: center;
}
.table-element h4{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    color: var(--grey);
    border-right: 1px solid var(--off-white);
    border-bottom: var(--off-white);
    text-align: left;
}
.table-element-value h5{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #757575;
}
.arrow-down{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(icons/trending-down.svg);
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-up{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(icons/trending-up.svg);
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.table-update{
    color: var(--warm-black);
    background-color: var(--soft-orange);
    margin: 0 auto;
    width: 173px;
    height: 31px;
    margin-top: 16px;
    padding: 8px;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    
}
.table-update span{
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
/* table comissions */
.table-conteiner-comi h3{
    color: var(--secondary-blue);
    font-weight: 700;
    font-size: 18px;
    line-height: 23.44px;
    text-align: left;
    margin: 0 auto 12px auto;
    width: 60%;
    padding-top: 40px;
}
.table-update-comi{
    color: var(--warm-black);
    background-color: var(--soft-blue);
    margin: 0 auto;
    width: 173px;
    height: 31px;
    margin-top: 16px;
    padding: 8px;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.table-update-comi span{
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

/* table transition */
.main-exchange-container{
    
}

/* Features */
.main-product-detail{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    margin: 0 auto;
    min-width: 320px;
    background-color: var(--warm-black);
}
.product-detail-batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(icons/batata.svg);
}
.product-detail-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail-title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail-title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
/* Articles */
.product-detail-card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius:5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    
}
/* Icons */
.product-detail-card span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-detail-card .clock {
    background-image: url(icons/clock.svg);
}
.product-detail-card .eye{
    background-image: url(icons/eye.svg);
}
.product-detail-card .dollar{
    background-image: url(icons/dollar-sign.svg);
}
.product-detail-card .check{
    background-image: url(icons/check-circle.svg);
}

.product-card-title{
    font-size: 18px;
    line-height: 18px;
    color: var(--just-white);
    font-weight: 700;
}
.product-card-body{
    font-size: 14px;
    color: #808080;
    font-weight: 500;
    line-height: 18px;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container h3 {
    font-size: 24px;
    color: var(--just-white);
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    padding: 64px;
}

/* Plans */
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    

}
.plans-title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans-title h2{
    padding-top: 50px;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: var(--black);
}
.plans-title p{
    padding-top: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: #757575;
}
/* Transition */
.plans-container-slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 10px;
}

.plans-container-card{
    position: relative;
    scroll-snap-align: center;
    width: calc(100% - 130px);
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0; 
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
}

.recomended {
    position: absolute;
    width: 101px;
    height: 31px;
    top: -15px;
    left: calc(50% - 55px);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 14.52px;
    padding: 8px;
}
.plan-card-title {
    padding-top: 30px;
    font-size: 14px;
    color: var(--black);
    font-weight: 500;
    line-height: 18px;
}
.plan-card-pice {
    padding: 15px 0;
    font-size: 52px;
    font-family: "Inter", sans-serif;
    line-height: 62.93px;
    font-weight: 500;
    color: var(--black);
}
.plan-card-pice sup{
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    color: var(--black);
    vertical-align: 25px;
}
.pan-card-saving{
    font-size: 12px;
    color: #757575;
}
.plan-card-ca{
    width: 151px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border-radius: 4px;
    border: 2px solid var(--bitcoin-orange);
    font-size: 14px;
    color: var(--warm-black);
    font-weight: 700;
    line-height: 18.23px;
    text-align: center;
}
.plan-card-ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
}
/* Footer */
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    list-style: none;
}
.left li{
    margin: 15px 0;
}
.left a{
    text-decoration: none;
    color: var(--just-white);
}


